# Liverpool Data Module
## Computational Essay

### Student ID:  xxxxxx

A computational essay

In [1]:
#  Use matplotlib magic to ensure that plots render inline and are saved as part of this notebook
%matplotlib inline

#  Import packages, and assign alias as given by convention
import numpy as np
import pandas as pd
import shapely
import random
import matplotlib as plt
import geopandas as geo
import requests
import seaborn as sns
import json

## Getting the data

House price data downloaded from ONS

In [2]:
#  Read in historic house prices data.  Manually downloaded as a .csv
house = pd.read_csv('house_prices.csv', low_memory = False)

In [35]:
#  Set up a list of variables needed
var = ['LSOA name','LSOA code', 'Local authority code',\
       'Local authority name','Year ending Sep 2016',\
       'Year ending Dec 2016','Year ending Mar 2017',\
       'Year ending Jun 2017']

qtrs = ['Year ending Sep 2016',\
       'Year ending Dec 2016','Year ending Mar 2017',\
       'Year ending Jun 2017']

In [46]:
#  Copy required variables into a new dataframe for analysis
hp = house[var]
hp.head()

,LSOA name,LSOA code,Local authority code,Local authority name,Year ending Sep 2016,Year ending Dec 2016,Year ending Mar 2017,Year ending Jun 2017
0,Hartlepool 008A,E01011950,E06000001,Hartlepool,"26,750","30,000","33,500","35,000"
1,Hartlepool 009A,E01011949,E06000001,Hartlepool,"78,000","90,000","78,000","99,950"
2,Hartlepool 007A,E01011951,E06000001,Hartlepool,"50,000","62,500","65,000","55,500"
3,Hartlepool 002B,E01011953,E06000001,Hartlepool,"65,000","83,250","100,000","55,000"
4,Hartlepool 001A,E01011954,E06000001,Hartlepool,"87,000","85,000","88,500","98,450"

In [47]:
#  View variable types and assess extent of missing data
hp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34856 entries, 0 to 34855
Data columns (total 8 columns):
LSOA name               34753 non-null object
LSOA code               34753 non-null object
Local authority code    34674 non-null object
Local authority name    34753 non-null object
Year ending Sep 2016    34753 non-null object
Year ending Dec 2016    34753 non-null object
Year ending Mar 2017    34753 non-null object
Year ending Jun 2017    34753 non-null object
dtypes: object(8)
memory usage: 2.1+ MB

In [55]:
%%time
#  time magic to record the time taken to execute this cell

# To change the pricing data into numeric form, define a lambda function to remove the comma
clean = lambda p: (p.replace(',',''))

# Set up a loop to remove commas and recode ':' to a missing value
for i in qtrs:
    hp[i] = hp[i].astype(str).apply(clean)
    hp[i].loc[hp[i]==':']=np.NaN
    hp[i]=hp[i].astype(float)

/Applications/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Applications/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Applications/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/Applications/anaconda/lib/python3.6/site-packages/pandas/core/indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

CPU times: user 754 ms, sys: 9.05 ms, total: 763 ms
Wall time: 764 ms

In [56]:
hp.head()

,LSOA name,LSOA code,Local authority code,Local authority name,Year ending Sep 2016,Year ending Dec 2016,Year ending Mar 2017,Year ending Jun 2017
0,Hartlepool 008A,E01011950,E06000001,Hartlepool,26750.0,30000.0,33500.0,35000.0
1,Hartlepool 009A,E01011949,E06000001,Hartlepool,78000.0,90000.0,78000.0,99950.0
2,Hartlepool 007A,E01011951,E06000001,Hartlepool,50000.0,62500.0,65000.0,55500.0
3,Hartlepool 002B,E01011953,E06000001,Hartlepool,65000.0,83250.0,100000.0,55000.0
4,Hartlepool 001A,E01011954,E06000001,Hartlepool,87000.0,85000.0,88500.0,98450.0

In [64]:
hp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34856 entries, 0 to 34855
Data columns (total 8 columns):
LSOA name               34753 non-null object
LSOA code               34753 non-null object
Local authority code    34674 non-null object
Local authority name    34753 non-null object
Year ending Sep 2016    34294 non-null float64
Year ending Dec 2016    34196 non-null float64
Year ending Mar 2017    34047 non-null float64
Year ending Jun 2017    34096 non-null float64
dtypes: float64(4), object(4)
memory usage: 2.1+ MB

In [65]:
h = hp.dropna()
h.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33597 entries, 0 to 34752
Data columns (total 8 columns):
LSOA name               33597 non-null object
LSOA code               33597 non-null object
Local authority code    33597 non-null object
Local authority name    33597 non-null object
Year ending Sep 2016    33597 non-null float64
Year ending Dec 2016    33597 non-null float64
Year ending Mar 2017    33597 non-null float64
Year ending Jun 2017    33597 non-null float64
dtypes: float64(4), object(4)
memory usage: 2.3+ MB

In [66]:
h['LSOA name'].nunique()

33597

In [67]:
h['Local authority name'].nunique()

347

In [61]:
h.groupby('Local authority name')['LSOA name'].nunique()

Local authority name
Adur                             42
Allerdale                        59
Amber Valley                     78
Arun                             93
Ashfield                         73
Ashford                          78
Aylesbury Vale                  115
Babergh                          54
Barking and Dagenham            104
Barnet                          200
Barnsley                        142
Barrow-in-Furness                48
Basildon                        108
Basingstoke and Deane           109
Bassetlaw                        70
Bath and North East Somerset    115
Bedford                         101
Bexley                          141
Birmingham                      585
Blaby                            60
Blackburn with Darwen            77
Blackpool                        91
Blaenau Gwent                    45
Bolsover                         47
Bolton                          171
Boston                           35
Bournemouth                     110
Bracknell Forest                 75
Bradford                        286
Braintree                        87
                               ...
Waveney                          73
Waverley                         82
Wealden                          95
Wellingborough                   47
Welwyn Hatfield                  66
West Berkshire                   97
West Devon                       31
West Dorset                      58
West Lancashire                  67
West Lindsey                     52
West Oxfordshire                 64
West Somerset                    21
Westminster                     115
Weymouth and Portland            38
Wigan                           198
Wiltshire                       282
Winchester                       68
Windsor and Maidenhead           88
Wirral                          202
Woking                           60
Wokingham                        99
Wolverhampton                   148
Worcester                        59
Worthing                         65
Wrexham                          80
Wychavon                         78
Wycombe                         107
Wyre                             68
Wyre Forest                      64
York                            120
Name: LSOA name, Length: 347, dtype: int64

In [68]:
#  Group LSOA by local authority name to calculate mean property price for each local authority.
h.groupby('Local authority name')[qtrs].mean()

,Year ending Sep 2016,Year ending Dec 2016,Year ending Mar 2017,Year ending Jun 2017
Local authority name,,,,
Adur,2.975470e+05,3.057271e+05,3.065032e+05,3.082153e+05
Allerdale,1.499066e+05,1.520219e+05,1.568424e+05,1.617735e+05
Amber Valley,1.626622e+05,1.610903e+05,1.612656e+05,1.609390e+05
Arun,2.732403e+05,2.769316e+05,2.801513e+05,2.825377e+05
Ashfield,1.250781e+05,1.284470e+05,1.298568e+05,1.315467e+05
Ashford,2.913600e+05,2.996505e+05,2.983635e+05,3.008926e+05
Aylesbury Vale,3.267393e+05,3.353768e+05,3.461613e+05,3.547578e+05
Babergh,2.541612e+05,2.567301e+05,2.694300e+05,2.718422e+05
Barking and Dagenham,2.795700e+05,2.905214e+05,2.995076e+05,3.049346e+05
Barnet,5.922358e+05,6.067925e+05,6.230634e+05,6.440431e+05
Barnsley,1.218865e+05,1.215968e+05,1.222232e+05,1.246374e+05
Barrow-in-Furness,1.200686e+05,1.214906e+05,1.213667e+05,1.236099e+05
Basildon,2.806446e+05,2.920588e+05,2.989816e+05,3.036746e+05
Basingstoke and Deane,3.070145e+05,3.141812e+05,3.194966e+05,3.260824e+05
Bassetlaw,1.427704e+05,1.444959e+05,1.460816e+05,1.480311e+05
Bath and North East Somerset,3.247471e+05,3.337833e+05,3.377143e+05,3.409467e+05
Bedford,2.431544e+05,2.526392e+05,2.575643e+05,2.619808e+05
Bexley,3.318419e+05,3.384720e+05,3.470532e+05,3.508644e+05
Birmingham,1.626358e+05,1.641889e+05,1.687524e+05,1.717008e+05
Blaby,1.978164e+05,1.970977e+05,2.008602e+05,2.013570e+05
Blackburn with Darwen,1.065806e+05,1.084944e+05,1.112537e+05,1.130529e+05
Blackpool,1.034458e+05,1.044829e+05,1.056808e+05,1.067320e+05
Blaenau Gwent,8.253549e+04,8.544567e+04,8.696556e+04,8.603413e+04
Bolsover,1.218667e+05,1.230757e+05,1.210469e+05,1.197817e+05
Bolton,1.237817e+05,1.252951e+05,1.266236e+05,1.276471e+05
Boston,1.458985e+05,1.447149e+05,1.475534e+05,1.495756e+05
Bournemouth,2.468016e+05,2.512332e+05,2.579408e+05,2.605041e+05
Bracknell Forest,3.448657e+05,3.469777e+05,3.558460e+05,3.587823e+05
Bradford,1.319576e+05,1.342281e+05,1.369114e+05,1.369934e+05
Braintree,2.652980e+05,2.718295e+05,2.785167e+05,2.840289e+05
...,...,...,...,...
Waveney,1.759340e+05,1.771354e+05,1.810991e+05,1.847731e+05
Waverley,4.667563e+05,4.705794e+05,4.911717e+05,4.992811e+05
Wealden,3.361704e+05,3.457223e+05,3.495120e+05,3.503995e+05
Wellingborough,1.740494e+05,1.755986e+05,1.806857e+05,1.861360e+05
Welwyn Hatfield,4.017627e+05,4.199174e+05,4.249194e+05,4.269106e+05
West Berkshire,3.648409e+05,3.653581e+05,3.677673e+05,3.720629e+05
West Devon,2.339767e+05,2.330576e+05,2.419226e+05,2.390411e+05
West Dorset,2.715370e+05,2.751421e+05,2.789274e+05,2.818144e+05
West Lancashire,1.858681e+05,1.872023e+05,1.867976e+05,1.881808e+05
West Lindsey,1.589584e+05,1.600709e+05,1.608690e+05,1.620472e+05
West Oxfordshire,3.201014e+05,3.336371e+05,3.456062e+05,3.428710e+05
West Somerset,2.242774e+05,2.203690e+05,2.281202e+05,2.334452e+05
Westminster,1.128464e+06,1.140222e+06,1.132438e+06,1.121833e+06
Weymouth and Portland,2.083783e+05,2.104539e+05,2.156237e+05,2.154520e+05
Wigan,1.220815e+05,1.235624e+05,1.246641e+05,1.269405e+05
Wiltshire,2.625787e+05,2.667996e+05,2.752124e+05,2.777942e+05
Winchester,4.207391e+05,4.284761e+05,4.350081e+05,4.430910e+05
Windsor and Maidenhead,5.063221e+05,5.118825e+05,5.017011e+05,5.134261e+05
Wirral,1.601505e+05,1.614579e+05,1.639911e+05,1.643888e+05
Woking,4.388586e+05,4.400270e+05,4.598749e+05,4.640317e+05
Wokingham,4.290132e+05,4.351145e+05,4.350848e+05,4.380613e+05
Wolverhampton,1.356327e+05,1.366052e+05,1.375093e+05,1.389851e+05
Worcester,1.825001e+05,1.836153e+05,1.863627e+05,1.880203e+05
Worthing,2.718093e+05,2.757989e+05,2.818526e+05,2.857149e+05
Wrexham,1.490742e+05,1.531910e+05,1.553352e+05,1.555181e+05
Wychavon,2.643971e+05,2.652767e+05,2.709892e+05,2.713105e+05
Wycombe,3.958610e+05,3.987769e+05,4.185562e+05,4.228859e+05
Wyre,1.502374e+05,1.497218e+05,1.521781e+05,1.542684e+05
Wyre Forest,1.769938e+05,1.812679e+05,1.810342e+05,1.823351e+05
York,2.285996e+05,2.326269e+05,2.360618e+05,2.383497e+05

In [ ]:
#  To look at the variables within the dataframe, and quickly assess the extent of missing data
pd.info()

#  To look at the top lines of the dataframe
pd.head()

#  To look at one variable
pd['variable_name'].head() # View the first 5 rows
pd['variable_name'].tail(10) # View the last 10 rows

#  To list the number of unique values in a variable
pd['variable_name'].unique() # lists the array 
pd['variable_name'].nunique() # gives the number of uniques

#  To set up a dataframe time series of dates, in the pandas datetime format
d = pd.to_datetime(pd['variable_name'])

#  To select out two variables and examine the first few lines of data
df[['variable1','variable2']].head()  # note that this has not been assigned to an object 

#  To set the index and check the first few lines
df.set_index('variable').head()  # not assigned to an object

Querying the dataframe

In [7]:
'''
UNUSED CODE - COULDNT GET API TO WORK
parameters = {'indicator_id':91872,'indicator_id':91812}
#df = requests.get('https://fingertips.phe.org.uk/api/available_data',params=parameters)
parameters

url = 'http://fingertips.phe.org.uk/api/available_data?indicator_id=91872'
r = requests.get(url)

df = json.loads(r.content)
type(df)
len(df)
'''

{'indicator_id': 91812}

In [24]:
"""url = 'https://www.ons.gov.uk/redir/eyJhbGciOiJIUzI1NiJ9.eyJpbmRleCI6MSwicGFnZVNpemUiOjEwLCJwYWdlIjoxLCJ1cmkiOiIvcGVvcGxlcG9wdWxhdGlvbmFuZGNvbW11bml0eS9ob3VzaW5nL2RhdGFzZXRzL2hvdXNlcHJpY2VzdGF0aXN0aWNzZm9yc21hbGxhcmVhcyIsImxpc3RUeXBlIjoicmVsYXRlZGRhdGEifQ.VrtpXT152BZZGLoyxV0SxWBgYmhRg5ax9ZgpTxgM7pU'
df = requests.get(url)
"""

In [23]:
wider = pd.read_csv('wider_health.csv')
wider.head()

,Indicator ID,Indicator Name,Parent Code,Parent Name,Area Code,Area Name,Area Type,Sex,Age,Category Type,...,Upper CI 95.0 limit,Lower CI 99.8 limit,Upper CI 99.8 limit,Count,Denominator,Value note,Recent Trend,Compared to England value or percentiles,Compared to subnational parent value or percentiles,Time period Sortable
0,11401,Rate of complaints about noise,NaN,NaN,E92000001,England,Country,Persons,All ages,NaN,...,7.80271,NaN,NaN,409497.619266,52642452.0,Value is modelled or synthetic estimate,NaN,Not compared,Not compared,20100000
1,11401,Rate of complaints about noise,NaN,NaN,E92000001,England,Country,Persons,All ages,General Practice deprivation deciles in Englan...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not compared,Not compared,20100000
2,11401,Rate of complaints about noise,NaN,NaN,E92000001,England,Country,Persons,All ages,General Practice deprivation deciles in Englan...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not compared,Not compared,20100000
3,11401,Rate of complaints about noise,NaN,NaN,E92000001,England,Country,Persons,All ages,General Practice deprivation deciles in Englan...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not compared,Not compared,20100000
4,11401,Rate of complaints about noise,NaN,NaN,E92000001,England,Country,Persons,All ages,General Practice deprivation deciles in Englan...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not compared,Not compared,20100000